<kendo-chart>
  <kendo-chart-title text="{{ title }}"></kendo-chart-title>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate
                  let-value="value" let-category="category">
        {{ category }}: {{ value }} horas
    </ng-template>
  </kendo-chart-tooltip>
  <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
          [categories]="categories"
          [title]="{ text: categoryTitle }">
      </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-series>
    <kendo-chart-series-item
      type="line" style="smooth" [data]="series" categoryField="name" field="data">
    </kendo-chart-series-item>
    <kendo-chart-series-item
      type="column" [data]="series" categoryField="name" field="data[0]">
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>