<div class="row">
  <div class="col-12">
    <app-line-chart
      [title]="titleLineChart"
      [series]="series"
      [categories]="categories"
      [categoryTitle]="categoryTitle"
    ></app-line-chart>
  </div>
</div>
<div class="row">
  <div [class]="colClass">
    <app-column-chart
      [title]="titleColumnChart"
      [series]="series"
    ></app-column-chart>
  </div>
  <div [class]="colClass">
    <app-donut-chart
      [title]="titleDonutChart"
      [series]="series"
    ></app-donut-chart>
  </div>
</div>
